In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("compilado_3650.csv",sep=";",decimal=",")
city = pd.read_csv("vw_geografia.csv",sep=",")

c:\Users\ecm7985d\.conda\envs\geofull\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

      id_ciudad           ciudad
0             0  NO IDENTIFICADO
1             1          LETICIA
2             2    PUERTO NARIÑO
3             3        ABEJORRAL
4             4         ABRIAQUI
...         ...              ...
3681       1098          TARAIRA
3682       1099         CUMARIBO
3683       1100     LA PRIMAVERA
3684       1101   PUERTO CARREÑO
3685       1102    SANTA ROSALIA

[1103 rows x 2 columns]

In [15]:
ofer =df.merge(city[['id_ciudad','ciudad']].drop_duplicates()
                ,left_on=['ID_Ciudad'],right_on=['id_ciudad'])

In [18]:
col_ofer = ['Longitud', 'Latitud',
       'ID_Estrato', 'Canon', 'Area_Construida', 'Area_Privada', 'Antiguedad',
       'Piso', 'Habitaciones', 'Banios', 'Parqueadero', 
       'Administración', 'Incluye_admin', 'Descripcion', 
       'ciudad']

In [17]:
ofer[col_ofer].to_csv("Ofertas_finales.csv",sep="|")

6            11139
3            10613
4            10097
5             7342
2             1946
1              616
campestre      176
0              158
Name: ID_Estrato, dtype: int64